h2 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}

strong {
    font-weight: 700;
}

p {
    font-family: sans-serif;
}

.wrapper-comp-center{ 
	margin-top: 10em;
    padding: 0em 50em;
}

.wrapper-title{ 
	justify-content: space-between;
    padding: 0 2em;
}

.table-transactions{
	width: 100%;
}

.table-transactions tr th { 
	background-color:green;
    color: white;
    text-align: center;
    padding: 2em;
    font-size: 12pt;
}

.table-transactions tr td { 
	padding: 2em;
    font-size: 9pt;
    text-align: center;
}

.table-transactions tr:nth-child(odd){
	background-color: #80808038;
}

.error-toast {
	background-color: #ed3b3b;
    color: white;
    padding: 0.75em;
    width: 15%;
    position: absolute;
    z-index: 1;
    top: 8em;
    right: 2em;
    border-radius: 0.5em;
    font-size: 10pt;
    transition: opacity 2s ease-in-out;
}
  body {
    background-color: #f8f9fa;
  }
  .error-container {
    margin-top: 100px;
    text-align: center;
  }
  .error-message {
    font-size: 1.5rem;
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .wrapper-button {
    margin: 20px;
  }
  .wrapper-button small {
    font-size: 0.9rem;
    color: #6c757d;
  }
  
  .logo-bg { 
  background: linear-gradient(to right, #50a750, #91e154);
    color: white !important;
    padding: 0.5em;
    border-radius: 0.25em;
    
   }
   
  a.text-primary.logo-bg:hover{ 
   	color:white !important;
   }
   
   .bg-green { 
  		background-color: #50a750 !important; 
  		color:white !important;
   }