<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link th:href="@{/main.css}" type="text/css"  rel="stylesheet" />

    <!-- FontAwesome pour les icônes -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <title>Pay My Buddy - Login</title>
</head>
<body class="d-flex justify-content-center align-items-center vh-100 bg-light">

    <div class="card shadow-lg p-4" style="width: 25vw;border-radius: 10px;">
        <div class="text-center center mb-4 w-50 mx-auto">
            <button class="btn logo-bg fw-bold" style="width: 100%; font-size: 18px;">Pay My Buddy</button>
        </div>

        <form action="#" th:action="@{/login}" th:object="${login}" method="post">
            
            <!-- Champ Email -->
            <div class="form-group mb-3">
                <label for="email" class="form-label"><i class="fas fa-envelope"></i> Email</label>
                <input type="email" id="email" class="form-control" th:field="*{username}" placeholder="Email" required>
            </div>

            <!-- Champ Password -->
            <div class="form-group mb-3">
                <label for="password" class="form-label"><i class="fas fa-lock"></i> Password</label>
                <input type="password" id="password" class="form-control" th:field="*{password}" placeholder="Password" required>
            </div>

            <!-- Checkbox Remember Me -->
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Remember me</label>
            </div>

            <!-- Bouton de Connexion -->
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
