<!doctype html>
<html lang="en">
  <head>

      <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	 <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
		<link th:href="@{/main.css}" rel="stylesheet" />
	
  </head>
  <body>
    <div th:replace="fragments/header :: header"></div>
		
	<div class="wrapper-comp-center">
		<div class="d-flex flex-row wrapper-title">
			<h3>Profile</h3>
		</div>
		
		<div th:field="*{user}">
			<div class="content" th:text="${user.username}" />
			<div class="content" th:text="${user.lastname}"/>
			<div class="content" th:text="${user.firstname}"/>
			<div class="content" th:text="${user.email}" />
			<div class="content" th:text="${user.balance}" />
		</div>

	</div>
  
  </body>
</html>